body{
         background-image: linear-gradient(To left,rgba(128, 17, 0, 0.61),rgba(255, 255, 0, 0.456),rgb(128, 219, 219));

}




div{
    box-sizing: border-box;
    margin: 10px 400px;
    padding: 100px;
    background-color: rgb(235, 233, 231);
    border: 3px solid black;
    box-shadow: 15px 10px 50px 12px black;
}
form{
    width: 600px;
    height: 500px;
    
    
}
div>a{
    text-decoration: none;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid burlywood;
    
}
#R{
    text-align: justify;
}